anyio
certifi
charset-normalizer
click
colorama
coloredlogs
h11
httpcore
httpx
humanfriendly
idna
imageio
Nuitka
numpy
ordered-set
pillow
pycryptodome
pyreadline3
pywin32
requests
sniffio
urllib3
zstandard
